<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pessoa-heading" data-cy="PessoaCreateUpdateHeading">Criar ou editar Pessoa</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.minlength">
              Este campo deve ter pelo menos 0 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.maxlength">
              Este campo não pode ter mais de 50 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idade">Idade</label>
          <input type="number" class="form-control" name="idade" id="field_idade" data-cy="idade" formControlName="idade" />
          <div *ngIf="editForm.get('idade')!.invalid && (editForm.get('idade')!.dirty || editForm.get('idade')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('idade')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('idade')?.errors?.min"> Este campo deve ser maior que 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('idade')?.errors?.max"> Este campo não pode ser maior que 100. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('idade')?.errors?.number"> Este campo é do tipo numérico. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_salario">Salario</label>
          <input type="number" class="form-control" name="salario" id="field_salario" data-cy="salario" formControlName="salario" />
          <div *ngIf="editForm.get('salario')!.invalid && (editForm.get('salario')!.dirty || editForm.get('salario')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('salario')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('salario')?.errors?.min"> Este campo deve ser maior que 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('salario')?.errors?.max">
              Este campo não pode ser maior que 100.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('salario')?.errors?.number">
              Este campo é do tipo numérico.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
